$footercolor: #ffffff;
// rgba(174, 228, 151, 0.514)
// rgba(217, 134, 158, 0.734)
$shadowcolor:rgba(174, 228, 151, 0.514);
$shadowcolor1:rgba(216, 163, 192, 0.514);
$shadowcolor2:rgba(174, 228, 151, 0.514);
.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;
    .link {
      text-decoration: none;
      color: inherit;
    }
    //------------------------------LOGIN & REGISTER----------------------------------------

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color:white;

      h1 {
        font-size: 20px;
        color: rgb(226, 70, 187);
        margin-bottom: 20px;
        align-self: center;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 80px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(217, 134, 158, 0.734) 25%, #ffffff 65%);
        width: 300px;
        height: 300px;
        gap: 20px;
        justify-content: center;

        input {
          background-color: rgba(246, 246, 246, 0.528);
          padding: 10px;
          border: none;
          border-bottom: 1px solid rgb(255, 255, 255);
        }

        button {
          border-radius: 15px;
          padding: 10px;
          border: 1.5px solid rgb(87, 86, 86);
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //-----------------------------------------NAVBAR-------------------------------------

    .navbar {
      .container {
        position:sticky;
        background-color: white;
        z-index: 10;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .logo {
          padding: 10px;
          img {
            width: 500px;
          }
          .login_button{
            color: rgb(128, 0, 0);
            padding: 20px;
            // border-radius: 25% ;
            border: 1px solid rgb(128, 0, 0);
            &:hover {
              color:red;
              background-color: white;
              border: 1px solid red;
            }
          }
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
        .links {
          width: 100%;
          justify-content: space-around;
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-bottom: 1px solid;

          h6 {
            font-size: large;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }
          
          .navbarlinks {
            // width: 60px;
            // height: 50px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: rgba(0, 128, 128, 0.222);
              background-color: white;
              border: 1px solid teal;
              
            }
          }
        }
      }
    }

    //-----------------------FOOTER---------------------------------------------
/* styles.css */
footer {
  margin-top: 100px; /* Uncomment if needed */
  position: relative;
  top: 30vh;
  border-top: 1px solid;
  min-height: 10vh;
  padding: 20px;
  background-color: #ffffff; /* Example color, replace with $footercolor if using a preprocessor */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  p {
    color: rgb(202, 0, 0);
    text-decoration: none;
    font-size: 16px;
    align-self: center;
    padding: 0.5rem;
    // transition: color 0.3s;
  }
}

footer img {
  height: 50px;
}

.footer-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #bf1313;
}

    //------------------------HOME------------------------------------------------

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;
    
        .post {
          display: flex;
          gap: 100px;
    
          &:nth-child(2n + 1) { // Alternate image and text order in the home page!
            flex-direction: row-reverse;
          }
    
          &:nth-child(2n) .img::after { // For even posts
            background-color: $shadowcolor2;
          }
    
          &:nth-child(2n + 1) .img::after { // For odd posts
            background-color: $shadowcolor1;
          }
    
          .img {
            flex: 2;
            position: relative;
    
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }
    
            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }    

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                color: rgba(0, 128, 128, 0.222);
                background-color: white;
                border: 1px solid teal;
              }
            }
          }
        }
      }
    }

    //--------------------------------SINGLE--------------------------------------------

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 10px;
          

          img {
            background-color: rgba(231, 196, 228, 0.433);
            padding: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          img {
            background-color: rgba(231, 196, 228, 0.433);
            padding: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: rgba(217, 134, 158, 0.734);
              color: black;
            }
          }
        }
      }
    }

    //---------------------------------WRITE---------------------------------------

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
}
$footercolor: #ffffff;
$shadowcolor: rgba(174, 228, 151, 0.514);
$shadowcolor1: rgba(216, 163, 192, 0.514);
$shadowcolor2: rgba(174, 228, 151, 0.514);

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    
    .link {
      text-decoration: none;
      color: inherit;
    }
    
    //-----------------------------------------NAVBAR-------------------------------------
    .navbar {
      .container {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .logo {
          padding: 10px;
          img {
            width: 100%;
            max-width: 500px;
          }
          .login_button {
            color: rgb(128, 0, 0);
            padding: 20px;
            border: 1px solid rgb(128, 0, 0);
            &:hover {
              color: red;
              background-color: white;
              border: 1px solid red;
            }
          }
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
        
        .links {
          width: 100%;
          justify-content: space-around;
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-bottom: 1px solid;

          h6 {
            font-size: 1rem;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .navbarlinks {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: rgba(0, 128, 128, 0.222);
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //------------------------HOME------------------------------------------------
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) { // Alternate image and text order in the home page
            flex-direction: row-reverse;
          }

          &:nth-child(2n) .img::after { // For even posts
            background-color: $shadowcolor2;
          }

          &:nth-child(2n + 1) .img::after { // For odd posts
            background-color: $shadowcolor1;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 2.5rem;
            }

            p {
              font-size: 1rem;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                color: rgba(0, 128, 128, 0.222);
                background-color: white;
                border: 1px solid teal;
              }
            }
          }
        }
      }
    }

//----------------------------------- Responsive styles------------------------------
//------------------------768----------------------------------------------
    @media (max-width: 768px) {
      .navbar {
        .container {
          flex-direction: column;
          align-items: center;

          .logo {
            img {
              max-width: 70vw;
            }
          }

          .links {
            flex-direction: column;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .home {
        .posts {
          gap: 50px;
          margin: 3rem;
          .post {
            flex-direction: column;
            gap: 30px;

            &:nth-child(2n+1) {
              flex-direction: column;
            }
          }
        }
      }

      footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        .footer-links {
          flex-direction: column;
          gap: 10px;
          li {
            margin: 0;
          }
        }
      }

    }
//---------------------------------480-----------------------------------
    @media (max-width: 480px) {
      .navbar {
        .container {
          .logo {
            img {
              max-width: 200px;
            }
          }

          .links {
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
        }
      }

      .home {
        .posts {
          gap: 30px;
          margin: 3rem;
          .post {
            flex-direction: column;
            gap: 10px;

            .img img {
              max-height: 300px;
              max-width: 300px ;
            }

            .content {
              h1 {
                font-size: 1.5rem;
              }

              p {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
    

    footer {
      padding: 10px;
      min-height: auto;
      top: 20vh;
      font-size: 10px;
  
      img {
        height: 40px;
      }
  
      .footer-links {
        p{
          font-size: 14px;
        }
        a {
          font-size: 14px;
        }
      }
    }
  }
  }
}
